.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/* .row, form, .form-row {
  text-align: center;
  display: grid;
  grid-column-start: 5px;
  grid-column-end: 100px;
  align-items: center;
  justify-content: center;

} */

input.form-control, h3, label {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
	height: 100%;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}

.containerExams {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 1000px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th{
  text-align: left;
}

tbody:hover{
  background-color: rgba(255,255,255,0.3);
}

tbody{
  vertical-align: middle;
}

td{
  position: relative;
}
img{
  height: 50px;
}
/* thead, tbody{
  display: block;
} */

td:hover{
  background-color: rgba(255,255,255,0.4);
}
/*
background-color: #55608f;
*/
