.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/* .row, form, .form-row {
  text-align: center;
  display: grid;
  grid-column-start: 5px;
  grid-column-end: 100px;
  align-items: center;
  justify-content: center;

} */

input.form-control, h3, label {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
	height: 100%;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  background-attachment:fixed;
}
