
.containerAdmin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  table.container{
    margin-top: 3rem;
  }
  
  table {
    width: 1000px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  
  th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  
  th{
    text-align: center;
  }
  
  tbody{
    vertical-align: middle;
  }
  
  td{
    position: relative;
  }
  img{
    height: 50px;
  }
  
  thead{
    position: sticky;
    top: 0;
  }
  
  .containerAdmin{
    display: block;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .examPageLink a{
    text-decoration: none;
    color: white;
  }
  
  td:hover{
    background-color: rgba(255,255,255,0.4);
  }
  
.header{
    margin-bottom: 30rem;
    margin: 3rem;
}
  .examHeader{
    font-size: 30pt;
  }

  .examSubheader{
    font-size: 20pt;
  }

  .adminButtons{
    text-align: center;
  }
  /* Temporary CSS for buttons */
  .editButton {
    display: inline-block;
    color:rgb(0, 221, 221);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }

  .removeButton {
    display: inline-block;
    color: rgb(173, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }


#update:hover{
    background-color: rgba(77, 4, 137, 0.1);
}

#remove:hover{
    background-color: rgba(77, 4, 137, 0.1);
}

#createFormBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}

#createFormBtn a {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.116);
  font-weight: bold;
  transition: all ease-in-out .2s;
  padding: 5rem;
  font-size: 15pt;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: -5rem;
  height: 100%;
  width: 100%;
}

#createFormBtn a:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
}
  /*
  background-color: #55608f;
  */